.title_container {
    display: flex;
    gap: 10px;
    margin-left: 100px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.title_btn {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
}

.title_btn_span {
    text-decoration-line: underline;
    text-underline-position: from-font;
}

.ul {
    padding: 30px 100px 10px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
}

.ul_all {
    overflow: unset;
    scroll-behavior: unset;
    flex-wrap: wrap;
    justify-content: center;
}

.ul::-webkit-scrollbar {
    height: 0;
}

.li {
    flex-shrink: 0;
    max-width: 219px;
}

.link {
    display: flex;
    flex-direction: column;
}

.li_img {
    width: 219px;
    height: 321px;

    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: -15px 10px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.li_title {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 5px;
}

@media screen and (max-width: 1095px) {
    .ul {
        padding: 30px 50px 10px;
    }

    .title_container {
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .ul {
        padding: 30px 30px 10px;
        gap: 20px;
    }

    .title_btn {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
    }

    .title_container {
        margin-left: 30px;
    }
}
